.likebtn, .dislikebtn
{
    cursor: pointer;
}

.likebtn:hover, .dislikebtn:hover{
    color: #3f51b5;
}

.rating-fixed
{
    border: none;
    float: right;
}

.rating-fixed > input
{
    display: none;
}

.rating-fixed > label:before
{
    margin: 1px;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating-fixed > .half:before
{
    content: "\f089";
    position: absolute;
}

.rating-fixed > label
{
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating-fixed > input:checked ~ label /* show gold star when clicked */
{ color: #FFD700;  } /* hover previous stars in list */