*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row-white
{
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}

.login img
{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.login h1
{
    font-size: 2rem;
    font-weight:700;
}

.inp
{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -1px 1px 30px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 30px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 30px -11px rgba(0, 0, 0, 0.75);
}

.btnLogin
{
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
}