.background
{
    background-image: url("https://i.pinimg.com/736x/1b/00/75/1b00756baab8441cca4479495f1411f7.jpg");
}
.bg-opacity-80
{
    --bs-bg-opacity: 0.8;
}
.bg-opacity-50
{
    --bs-bg-opacity: 0.5;
}
.icon
{
    font-size: 1.75em;
}

#student
{
    background-image: url("https://www.assignnmentinneed.com/wp-content/uploads/2020/10/successful-college-student-lg.png");
}
#teacher
{
    background-image: url("https://media.istockphoto.com/photos/portrait-of-female-elementary-school-teacher-standing-in-classroom-picture-id1160927409?k=20&m=1160927409&s=612x612&w=0&h=g9SIp9-1_umYi34dxuoBrtsxCUtazkulcn4b2H2_c4s=");
}
#provider
{
    background-image: url("https://t4.ftcdn.net/jpg/02/05/95/13/360_F_205951306_ZbKTWrTU6bAkhXvotDnsjhMDFpDhv29L.jpg");
}
#manager
{
    background-image: url("https://www.boldsky.com/img/2016/11/24-1422074520-08-1407479055-i42-25-1480048631.jpg");
}