.vh-20
{
    height: 20vh!important;
}
.vh-35
{
    height: 35vh!important;
}
.vh-40
{
    height: 40vh!important;
}
.vh-50
{
    height: 50vh!important;
}
.vh-60
{
    height: 60vh!important;
}
.vh-70
{
    height: 70vh!important;
}
.vh-75
{
    height: 75vh!important;
}
.vh-80
{
    height: 80vh!important;
}

.h-0
{
    height: 0!important;
}

.h-20
{
    height: 20%!important;
}

.h-60
{
    height: 60%!important;
}

.h-70
{
    height: 70%!important;
}

.h-80
{
    height: 80%!important;
}

.pb-66
{
    padding-bottom: 66%;
}

.thumbnail
{
    width: 100px;
    height: 100px;
}